body {
  background: aqua;
  color: black;
  font-family: Georgia;
  background-image: url("img.png");
  background-size: cover;
}

h1 {
  font-family: Comic Sans MS;
  size: 60px;
  color: darkblue;
  text-align: center;
}

h4 {
  text-align: right;
  font-style: italic;
  text-align: center;
}
p {
  color: black;
}
.paragraf1 {
  color: orange;
  font-weight: bold;
  text-align: center;
}
.paragraf2 {
  text-align: right;
  font-family: Georgia;
}
h3 a {
  color: white;
}
h3 a:hover {
  color: red;
}
p a:hover {
  text-decoration: none;
  background-color: blue;
  color: white;
}
h3 {
  text-align: center;
}
